@use './variables' as *;
@use './mixins' as *;
@use './typography-mixins' as *;

/* ------------------------------- */
/* Resets */
/* ------------------------------- */
* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

img {
  max-width: 100%;
}

p,
a,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

button {
  border: none;
}

a {
  text-decoration: none;
  color: inherit;
}

address {
  font-style: normal;
}

/* ------------------------------- */
/* Utility Classe */
/* ------------------------------- */

/* ------------------------------- */
/* Header */
/* ------------------------------- */

.header {
  @include flex(column);
  background-color: $bandsite-black;
  color: $white;

  @include tablet {
    @include flex(row, center, center);
  }
  &__word-mark {
    margin-top: 1rem;
    font-weight: 400;

    @include tablet {
      margin: 0 2rem;
    }
  }
}

.nav {
  width: 100%;

  &__list {
    @include flex(row, center, center);
    list-style: none;

    @include tablet {
      @include flex(row, flex-start, center);
    }

    &-link {
      width: 100%;
      text-align: center;
      line-height: 2rem;
      color: $silver;

      @include tablet {
        line-height: 4rem;
        width: max-content;
        margin-left: 3rem;
      }

      &--active {
        @extend .nav__list-link;
        color: $white;
        border-bottom: 4px solid $white;
      }
      &:hover {
        @extend .nav__list-link;
        color: $white;
        border-bottom: 4px solid $white;
      }
    }
  }
}

/* ------------------------------- */
/* Footer */
/* ------------------------------- */

.footer {
  margin: 1.5rem 0;
  padding: 0 1.25rem;
  background-color: $bandsite-black;
  color: $white;

  &__wordmark--desk-tab {
    display: none;

    @include tablet {
      display: inline-block;
    }
  }

  &__branding {
    margin-bottom: 1rem;

    &-title {
      @include mobi-section-header;
      margin-bottom: 0.5rem;
    }

    &-social-icon {
      margin-right: 2rem;
    }
  }

  &__contact-container {
    @include flex(column, center, flex-start);
    gap: 1rem;
  }

  &__contact {
    @include flex(column, center, flex-start);
    gap: 1rem;
    @include mobi-footer-copy;
  }
}
