@use './variables' as *;
@use './mixins' as *;
@use './typography-mixins' as *;

/* ------------------------------- */
/* Resets */
/* ------------------------------- */
* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

img {
  max-width: 100%;
}

p,
a,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

button {
  border: none;
}

a {
  text-decoration: none;
  color: inherit;
}

address {
  font-style: normal;
}

/* ------------------------------- */
/* Header */
/* ------------------------------- */

.header {
  @include flex(column);
  background-color: $bandsite-black;
  color: $white;

  @include tablet {
    @include flex(row, center, center);
    padding: $tab-container;
  }

  @include desktop {
    padding: $desk-container;
  }
  &__word-mark {
    margin: 1rem 0;

    @include tablet {
      margin: 0 0;
    }
  }
}

.nav {
  width: 100%;
  &__list {
    @include flex(row, center, center);
    list-style: none;

    @include tablet {
      @include flex(row, flex-start, center);
    }

    &-link {
      width: 100%;
      text-align: center;
      line-height: 2rem;
      color: $silver;

      @include tablet {
        line-height: 4rem;
        width: max-content;
        margin-left: 3rem;
      }

      &--active {
        @extend .nav__list-link;
        color: $white;
        border-bottom: 4px solid $white;
      }
      &:hover {
        @extend .nav__list-link;
        color: $white;
        border-bottom: 4px solid $white;
      }
    }
  }
}

/* ------------------------------- */
/* Footer */
/* ------------------------------- */

.footer {
  @include flex(column, center, flex-start);
  padding: $mobile-container;
  background-color: $bandsite-black;
  color: $white;
  padding-bottom: 2rem;

  @include tablet {
    padding: $tab-container;
    padding-bottom: 3rem;
  }

  @include desktop {
    padding: $desk-container;
    padding-bottom: 3rem;
  }

  &__wordmark--mobi {
    margin-top: 1.5rem;
    display: inline-block;
    @include mobi-component-margin;

    @include tablet {
      margin-top: 0;
      display: none;
    }
  }
  &__wordmark--desk-tab {
    display: none;

    @include tablet {
      display: inline-block;
      @include desk-tab-headline-margin;
    }
  }

  &__branding {
    @include flex(column, flex-start, flex-start);
    @include mobi-component-margin;

    @include tablet {
      width: 100%;
      @include flex(row, space-between, center);
    }
    &-title {
      @include mobi-section-header;
      margin-bottom: 0.5rem;

      @include tablet {
        @include desk-tab-section-header;
        margin-bottom: 0;
      }
    }

    &-socials {
      @include flex(column, center, flex-start);
      @include mobi-headline-margin;

      @include tablet {
        @include flex(row, space-between, center);
        @include desk-tab-headline-margin;
        gap: 2rem;
      }

      @include desktop {
        gap: 2.75rem;
      }

      &-icons {
        @include flex(row, center, center);
      }
    }
    &-social-icon {
      margin-right: 2rem;
    }
  }

  &__contact-container {
    @include flex(column, center, flex-start);
    @include tablet {
      @include flex(row, space-between, flex-start);
      margin-bottom: 3rem;
    }

    @include tablet {
      width: 100%;
      @include flex(row, space-between, space-between);
    }

    @include desktop {
      @include flex(row, flex-start, flex-start);
      gap: 4rem;
    }
  }

  &__contact {
    @include flex(column, center, flex-start);
    margin-bottom: 1.5rem;
    gap: 0.75rem;
    @include mobi-footer-copy;

    @include tablet {
      margin-bottom: 0;
      @include desk-tab-footer-copy;
    }

    &-name {
      font-weight: 700;
    }
  }

  &__copyright {
    @include mobi-footer-copy;

    @include tablet {
      @include desk-tab-footer-copy;
    }
  }
}
