@use './variables' as *;

@mixin tablet {
  @media screen and (min-width: $tablet-breakpoint) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: $desktop-breakpoint) {
    @content;
  }
}

@mixin divider {
  border-top: 1px solid $mercury;
}

@mixin flex($direction: row, $justify: flex-start, $align: center) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin mobi-component-margin {
  margin-bottom: 1rem;
}

@mixin mobi-cta-button {
  padding: 0.5rem;
  cursor: pointer;
  color: $white;
  background-color: $bandsite-black;
  border-radius: 4px;
}
