@use './variables' as *;

@mixin tablet {
  @media screen and (min-width: $tablet-breakpoint) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: $desktop-breakpoint) {
    @content;
  }
}

@mixin divider {
  border-top: 1px solid $mercury;
}

@mixin flex($direction: row, $justify: flex-start, $align: center) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin mobi-component-margin {
  margin-bottom: 1rem;
}

@mixin mobi-cta-button {
  padding: 0.5rem;
  cursor: pointer;
  color: $white;
  background-color: $bandsite-black;
  border-radius: 4px;
}

@mixin input-box {
  background-color: $alabaster;
  border: 1px solid $mercury;
  border-radius: 4px;
  padding: 0.75rem;
  margin-bottom: 1rem;
}

@mixin input-box-active {
  @include input-box;
  outline: none;
  box-shadow: none;
  border-color: $bandsite-black;
}

@mixin button {
  color: $white;
  background-color: $bandsite-black;
  height: 2.5rem;
  border-radius: 0.25rem;
}

@mixin button-mobile {
  @include button;
  @include mobi-labels-buttons;
  width: 100%;
}

@mixin button-desk-tab {
  @include button;
  width: 9.375rem;
  padding: 0 2rem;
}

@mixin desk-tab-page-header {
  font-size: 3.75rem;
  line-height: 4.25rem;
  font-weight: 700;
}

@mixin mobi-page-header {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
}

@mixin desk-tab-section-header {
  font-size: 2.25rem;
  line-height: 2.75rem;
  font-weight: 700;
}

@mixin mobi-section-header {
  font-size: 1.5rem;
  line-height: 2.75rem;
  font-weight: 700;
}

@mixin desk-tab-sub-header {
  font-size: 1.3rem;
  line-height: 2rem;
  font-weight: 700;
}

@mixin mobi-sub-header {
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-weight: 600;
}

@mixin desk-tab-body-copy {
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-weight: 400;
}

@mixin mobi-body-copy {
  font-size: 0.9rem;
  line-height: 1.125rem;
  font-weight: 400;
}

@mixin desk-tab-footer-copy {
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 400;
}

@mixin mobi-footer-copy {
  font-size: 0.813rem;
  line-height: 1.125rem;
  font-weight: 400;
}

@mixin desk-tab-labels-bottons {
  font-size: 0.75rem;
  line-height: 1rem;
  font-weight: 700;
}

@mixin mobi-labels-buttons {
  font-size: 0.75rem;
  font-weight: 700;
}

// ------------------------------
// Typography Padding
// ------------------------------
