@use './variables' as *;

:root {
  @font-face {
    font-family: 'Avenir';
    src: url('../../assets/fonts/AvenirNextLTPro-Regular.otf')
        format('opentype'),
      url('../../assets/fonts/AvenirNextLTPro-Demi.otf') format('opentype'),
      url('../../assets/fonts/AvenirNextLTPro-Bold.otf') format('opentype');
  }
  font-family: Avenir, Arial, Helvetica, sans-serif;
}

@mixin mobi-headline-margin {
  margin: 1.5rem 0 0 0;
}

@mixin desk-tab-headline-margin {
  margin: 2.25rem 0 1rem 0;
}

@mixin show-info-title {
  font-size: 0.7rem;
  line-height: 1.125rem;
  font-weight: 700;
  color: $silver;
  margin: 0.75rem 0rem;
}

@mixin show-info {
  font-size: 0.9rem;
  line-height: 1.125rem;
  font-weight: 700;
  color: $bandsite-dark-black;
  margin-bottom: 1rem;
}
