@use './variables' as *;

:root {
  @font-face {
    font-family: 'Avenir';
    src: url('../../assets/fonts/AvenirNextLTPro-Regular.otf')
        format('opentype'),
      url('../../assets/fonts/AvenirNextLTPro-Demi.otf') format('opentype'),
      url('../../assets/fonts/AvenirNextLTPro-Bold.otf') format('opentype');
  }
  font-family: Avenir;
}

@mixin desk-tab-page-header {
  font-size: 3.75rem;
  line-height: 4.25rem;
  font-weight: 700;
}

@mixin mobi-page-header {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
}

@mixin desk-tab-section-header {
  font-size: 2.25rem;
  line-height: 2.75rem;
  font-weight: 700;
}

@mixin mobi-section-header {
  font-size: 1.5rem;
  line-height: 2.75rem;
  font-weight: 700;
}

@mixin desk-tab-sub-header {
  font-size: 1.3rem;
  line-height: 2rem;
  font-weight: 700;
}

@mixin mobi-sub-header {
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-weight: 600;
}

@mixin desk-tab-body-copy {
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-weight: 400;
}

@mixin mobi-body-copy {
  font-size: 0.9rem;
  line-height: 1.125rem;
  font-weight: 400;
}

@mixin desk-tab-footer-copy {
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 400;
}

@mixin mobi-footer-copy {
  font-size: 0.813rem;
  line-height: 1.125rem;
  font-weight: 400;
}

@mixin desk-tab-labels-bottons {
  font-size: 0.75rem;
  line-height: 1rem;
  font-weight: 700;
}

@mixin mobi-labels-buttons {
  font-size: 0.75rem;
  font-weight: 700;
}

// ------------------------------
// Typography Padding
// ------------------------------

@mixin mobi-headline-margin {
  margin: 1.5rem 0 0 0;
}

@mixin desk-tab-headline-margin {
  margin: 2.25rem 0 1rem 0;
}

@mixin show-info-title {
  font-size: 0.7rem;
  line-height: 1.125rem;
  font-weight: 700;
  color: $silver;
  margin: 0.75rem 0rem;
}

@mixin show-info {
  font-size: 0.9rem;
  line-height: 1.125rem;
  font-weight: 700;
  color: $bandsite-dark-black;
  margin-bottom: 1rem;
}
