// ------------------------------
// Breakpoints
// ------------------------------
$tablet-breakpoint: 768px;
$desktop-break: 1024px;

// ------------------------------
// Colors - Primary
// ------------------------------
$bandsite-black: #323232;
$silver: #afafaf;
$white: #ffffff;

// ------------------------------
// Colors - Secondary
// ------------------------------
$bandSite-dark-black: #000000;
$mercury: #e1e1e1;
$alabaster: #fafafa;
