// ------------------------------
// Breakpoints
// ------------------------------
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

// ------------------------------
// Colors - Primary
// ------------------------------
$bandsite-black: #323232;
$silver: #afafaf;
$white: #ffffff;

// ------------------------------
// Colors - Secondary
// ------------------------------
$bandsite-dark-black: #000000;
$mercury: #e1e1e1;
$alabaster: #fafafa;

// ------------------------------
// margins & Spacing
// ------------------------------
$mobile-container: 0 1rem;
$tab-container: 0 2.25rem;
$desk-container: 0 5.4375rem;
$text-margin-bottom: 0.5rem;
