:root {
  font-family: Avenir;
}
@font-face {
  font-family: "Avenir";
  src: url("../../assets/Font/AvenirNextLTPro-Regular.otf") format("opentype"), url("../../assets/Font/AvenirNextLTPro-Demi.otf") format("opentype"), url("../../assets/Font/AvenirNextLTPro-Bold.otf") format("opentype");
}

/* ------------------------------- */
/* Resets */
/* ------------------------------- */
* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

img {
  max-width: 100%;
}

p,
a,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

button {
  border: none;
}

a {
  text-decoration: none;
  color: inherit;
}

address {
  font-style: normal;
}

/* ------------------------------- */
/* Utility Classe */
/* ------------------------------- */
/* ------------------------------- */
/* Header */
/* ------------------------------- */
.header {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #323232;
  color: #ffffff;
}
@media screen and (min-width: 768px) {
  .header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}
.header__word-mark {
  margin-top: 1rem;
  font-weight: 400;
}
@media screen and (min-width: 768px) {
  .header__word-mark {
    margin: 0 2rem;
  }
}

.nav {
  width: 100%;
}
.nav__list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  list-style: none;
}
@media screen and (min-width: 768px) {
  .nav__list {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }
}
.nav__list-link, .nav__list-link:hover, .nav__list-link--active:hover, .nav__list-link--active {
  width: 100%;
  text-align: center;
  line-height: 2rem;
  color: #afafaf;
}
@media screen and (min-width: 768px) {
  .nav__list-link, .nav__list-link:hover, .nav__list-link--active:hover, .nav__list-link--active {
    line-height: 4rem;
    width: -moz-max-content;
    width: max-content;
    margin-left: 3rem;
  }
}
.nav__list-link--active {
  color: #ffffff;
  border-bottom: 4px solid #ffffff;
}
.nav__list-link:hover, .nav__list-link--active:hover {
  color: #ffffff;
  border-bottom: 4px solid #ffffff;
}

/* ------------------------------- */
/* Footer */
/* ------------------------------- */
.footer {
  margin: 1.5rem 0;
  padding: 0 1.25rem;
  background-color: #323232;
  color: #ffffff;
}
.footer__wordmark--desk-tab {
  display: none;
}
@media screen and (min-width: 768px) {
  .footer__wordmark--desk-tab {
    display: inline-block;
  }
}
.footer__branding {
  margin-bottom: 1rem;
}
.footer__branding-title {
  font-size: 1.5rem;
  line-height: 2.75rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}
.footer__branding-social-icon {
  margin-right: 2rem;
}
.footer__contact-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
}
.footer__contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
  font-size: 0.813rem;
  line-height: 1.125rem;
  font-weight: 400;
}

.hero {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  background-image: url("../assets/images/hero-bio.jpg");
  background-color: #323232;
  background-position: center;
  background-size: cover;
  height: 12rem;
}
@media screen and (min-width: 768px) {
  .hero {
    height: 28rem;
  }
}
.hero__overlay {
  width: 100%;
  height: 100%;
  background-color: #323232;
  opacity: 50%;
}
.hero__title {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
  top: 50%;
  left: 2rem;
  position: absolute;
  color: #ffffff;
  transform: translateY(-50%);
}
@media screen and (min-width: 768px) {
  .hero__title {
    font-size: 3.75rem;
    line-height: 4.25rem;
    font-weight: 700;
  }
}

.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 1rem;
}
@media screen and (min-width: 768px) {
  .about {
    margin: 0 4rem;
  }
}
.about__content-container {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .about__content-container {
    width: 88%;
  }
}
.about__title {
  align-self: flex-start;
  font-size: 1.5rem;
  line-height: 2.75rem;
  font-weight: 700;
  margin: 24px 0 0 0;
}
@media screen and (min-width: 768px) {
  .about {
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-weight: 700;
  }
}
.about__image {
  margin-bottom: 1rem;
}
.about__quote {
  font-size: 14.5px;
  font-weight: 700;
  padding-bottom: 1.25rem;
}
@media screen and (min-width: 768px) {
  .about__quote {
    font-size: 1.3rem;
    line-height: 2rem;
    font-weight: 700;
  }
}
.about__quote-text {
  margin-bottom: 0.25rem;
}
.about__headline {
  font-size: 0.9rem;
  line-height: 1.125rem;
  font-weight: 400;
  font-weight: 700;
  margin-bottom: 0.5rem;
}
@media screen and (min-width: 768px) {
  .about__headline {
    font-size: 1.3rem;
    line-height: 2rem;
    font-weight: 700;
  }
}
.about__text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .about__text-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1.25rem;
  }
}
.about__text-block {
  font-size: 0.9rem;
  line-height: 1.125rem;
  font-weight: 400;
  margin-bottom: 0.5rem;
}
@media screen and (min-width: 768px) {
  .about__text-block {
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-weight: 400;
  }
}

.gallery {
  margin: 0 1rem;
  background-color: #fafafa;
}
.gallery__title {
  font-size: 1.5rem;
  line-height: 2.75rem;
  font-weight: 700;
  margin: 24px 0 0 0;
  padding-top: 1rem;
}
.gallery__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .gallery__container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
}
.gallery__image {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .gallery__image {
    width: 30%;
  }
}/*# sourceMappingURL=bios.css.map */