@use './partials/global' as *;
@use '../styles/partials/variables' as *;
@use '../styles/partials/mixins' as *;
@use '../styles/partials/typography-mixins' as *;

.hero {
  position: relative;
  @include flex(row, flex-start, center);
  background-image: url('../assets/images/hero-bio.jpg');
  background-color: $bandsite-black;
  background-position: center;
  background-size: cover;
  height: 12rem;

  @include tablet {
    height: 28rem;
  }

  @include desktop {
    height: 32rem;
  }

  &__overlay {
    width: 100%;
    height: 100%;
    background-color: $bandsite-black;
    opacity: 50%;
  }

  &__title {
    @include mobi-page-header;
    top: 50%;
    left: 1rem;
    position: absolute;
    color: $white;
    transform: translateY(-50%);

    @include tablet {
      @include desk-tab-page-header;
      left: 2.25rem;
    }

    @include desktop {
      left: 5.4375rem;
    }
  }
}

.about {
  @include flex(column, center, center);
  margin: $mobile-container;
  color: $bandsite-black;

  @include tablet {
    margin: $tab-container;
  }

  @include desktop {
    margin: $desk-container;
  }

  &__content-container {
    width: 100%;
    @include tablet {
      width: 88%;
    }

    @include desktop {
      width: 85%;
    }
  }
  &__title {
    align-self: flex-start;
    @include mobi-section-header;
    @include mobi-headline-margin;

    @include tablet {
      @include desk-tab-section-header;
      @include desk-tab-headline-margin;
    }
  }

  @include tablet {
    @include desk-tab-section-header;
  }

  &__image {
    @include mobi-component-margin;
  }

  &__quote {
    font-size: 0.9063rem;
    font-weight: 700;
    margin-bottom: 1.25rem;

    @include tablet {
      line-height: 1.75rem;
      font-size: 1.5rem;
      margin-bottom: 2.25rem;
    }

    @include desktop {
      line-height: 2rem;
      font-size: 1.65rem;
      width: 83%;
    }

    &-text {
      margin-bottom: $text-margin-bottom;
    }

    &-attribution {
      font-size: inherit;
      @include tablet {
        @include desk-tab-body-copy;
        font-weight: 700;
      }
    }
  }

  &__headline {
    @include mobi-body-copy;
    font-weight: 700;
    margin-bottom: $text-margin-bottom;

    @include tablet {
      @include desk-tab-sub-header;
    }

    @include desktop {
      margin-bottom: 1rem;
    }
  }

  &__text-container {
    @include flex(column, center, center);

    @include tablet {
      @include flex(row, center, center);
      gap: 1.25rem;
    }

    @include desktop {
      gap: 2.75rem;
    }
  }

  &__text-block {
    @include mobi-body-copy;
    @include mobi-component-margin;

    @include tablet {
      @include desk-tab-body-copy;
    }
  }
}

.gallery {
  color: $bandsite-black;
  @include flex(column, center, flex-start);
  padding: $mobile-container;
  background-color: $alabaster;

  @include tablet {
    padding: $tab-container;
  }

  @include desktop {
    padding: $desk-container;
  }

  &__title {
    @include mobi-section-header;
    @include mobi-headline-margin;

    @include tablet {
      @include desk-tab-headline-margin;
    }
  }

  &__container {
    @include flex(column, center, center);
    width: 100%;

    @include tablet {
      @include flex(row, space-between, space-between);
      flex-wrap: wrap;
      margin-bottom: 1.125rem;
    }

    @include desktop {
      margin-bottom: $text-margin-bottom;
    }
  }

  &__image {
    width: 100%;
    @include mobi-component-margin;

    @include tablet {
      width: 31.5%;
    }

    @include desktop {
      width: 32%;
    }
  }
}

.comments {
  margin: $mobile-container;

  @include tablet {
    margin: $tab-container;
  }

  @include desktop {
    margin: $desk-container;
  }
  &__title {
    @include mobi-headline-margin;

    @include tablet {
      @include desk-tab-headline-margin;
    }

    @include desktop {
      font-size: 2rem;
      font-weight: bold;
    }
  }
  &__form {
    max-width: 100%;
    @include flex(row, center, flex-start);
    justify-content: space-between;
    margin: 1rem 0.5rem 0.5rem 0.5rem;
    border-bottom: $divider;

    @include tablet {
      margin: 2rem 2.25rem 2rem 2.25rem;
    }

    @include desktop {
      margin: 2rem 15rem 2rem 15rem;
    }
    &-user-image {
      margin-top: 1rem;
      width: 3rem;
      height: 3rem;
      border-radius: 50%;
      background-image: url('../assets/images/Mohan-muruge.jpg');
      background-position: center;
      background-size: cover;
      background-color: $mercury;

      @include tablet {
      }
    }

    &-inputs {
      @include flex(column, center, space-between);
      margin-bottom: 0.25rem;
      display: flex;
      width: 80%;
      margin-bottom: 1rem;

      @include tablet {
        width: 90%;
      }

      &-label {
        @include mobi-labels-buttons;
        color: $silver;
        margin-bottom: 0.25rem;
      }

      &-name {
        @include input-box;
        height: 2.25rem;
        border: 1px solid $mercury;
        border-radius: 4px;
        padding: 0.75rem;

        @include tablet {
          height: 3rem;
        }

        &:focus {
          @include input-box-active;
        }
      }

      &-comment {
        @include input-box;
        width: 100%;
        height: 6.5rem;
        margin-bottom: 1rem;

        &:focus {
          @include input-box-active;
        }
      }
      .submit-comment {
        @include button-mobile;
        align-self: flex-end;

        @include tablet {
          @include button-desk-tab;
        }

        &:hover {
          background-color: $bandsite-dark-black;
        }
      }
    }
  }

  .comments__container {
    margin-bottom: 1rem;

    @include tablet {
      margin: 0 2rem;
    }

    @include desktop {
      margin: 2rem 15rem 2rem 15rem;
    }
  }
}

.comment {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 1rem 0.5rem 0.5rem 0.5rem;
  border-bottom: $divider;

  &__img {
    width: 50px;
    height: 50px;
    border-radius: 500px;
    background-color: $mercury;
  }

  &__content {
    width: 88%;
    margin-bottom: 0.5rem;

    &-head {
      @include flex(row, space-between, flex-start);
      margin-bottom: 0.5rem;

      @include tablet {
        margin-bottom: 0.25rem;
      }

      &--username {
        @include mobi-body-copy;
        font-weight: bold;

        @include tablet {
          @include desk-tab-body-copy;
          font-weight: bold;
        }
      }

      &--date {
        @include mobi-body-copy;
        color: $mercury;

        @include tablet {
          @include desk-tab-body-copy;
          font-weight: bold;
        }
      }
    }

    &-text {
      @include mobi-body-copy;

      @include tablet {
        @include desk-tab-body-copy;
        font-weight: bold;
        margin: 0.5rem 0 1rem 0;
      }
    }
  }
}
