@use './partials/global' as *;
@use '../styles/partials/variables' as *;
@use '../styles/partials/mixins' as *;
@use '../styles/partials/typography-mixins' as *;

.header {
  @include flex(column);

  @include tablet {
    @include flex(row, center, center);
  }
  &__word-mark {
    margin-top: 1rem;
    font-weight: 400;

    @include tablet {
      margin: 0 2rem;
    }
  }
}

.nav {
  width: 100%;

  &__list {
    @include flex(row, center, center);
    list-style: none;

    @include tablet {
      @include flex(row, flex-start, center);
    }

    &-link {
      width: 100%;
      text-align: center;
      line-height: 2rem;

      @include tablet {
        line-height: 4rem;
        width: max-content;
        margin-left: 3rem;
      }

      &--active {
        @extend .nav__list-link;
        border-bottom: 4px solid white;
      }
      &:hover {
        @extend .nav__list-link;
        border-bottom: 4px solid white;
      }
    }
  }
}

// .nav {
//   width: 100%;
//   height: 100%;

//   &__list {
//     @include flex(row, center, center);
//     list-style: none;
//     height: 100%;
//   }

//   &__list-link {
//     text-align: center;
//     width: 100%;
//     height: 100%;
//     padding-bottom: 0.75rem;
//     font-weight: 400;
//     color: $silver;

//     &-content {
//       @include flex(row, center, center);
//       height: 3rem;
//       width: 100%;

//       &--active {
//         @extend .nav__list-link-content;
//         color: $white;
//         border-bottom: 4px solid white;
//         font-weight: 700;
//       }
//     }

//     @include tablet {
//       &__list-link {
//         padding-bottom: 0;
//       }
//     }

//     &--selected {
//       @extend .nav__list-link;
//       color: $white;
//       border-bottom: 4px solid white;
//       font-weight: 700;
//     }
//   }

//   &__list-link:hover {
//     @extend .nav__list-link;
//     color: $white;
//     border-bottom: 4px solid white;
//     font-weight: 700;
//   }
// }

.hero {
  position: relative;
  @include flex(row, flex-start, center);
  background-image: url('../assets/images/hero-bio.jpg');
  background-color: $bandsite-black;
  background-position: center;
  background-size: cover;
  height: 20rem;

  &__overlay {
    width: 100%;
    height: 100%;
    background-color: $bandsite-black;
    opacity: 50%;
  }

  &__title {
    @include mobi-page-header;
    top: 50%;
    left: 2rem;
    position: absolute;
    color: $white;

    @include tablet {
      @include desk-tab-page-header;
    }
  }
}
