@use './partials/global' as *;
@use '../styles/partials/variables' as *;
@use '../styles/partials/mixins' as *;
@use '../styles/partials/typography-mixins' as *;

.hero {
  position: relative;
  @include flex(row, flex-start, center);
  background-image: url('../assets/images/hero-bio.jpg');
  background-color: $bandsite-black;
  background-position: center;
  background-size: cover;
  height: 12rem;

  @include tablet {
    height: 28rem;
  }

  &__overlay {
    width: 100%;
    height: 100%;
    background-color: $bandsite-black;
    opacity: 50%;
  }

  &__title {
    @include mobi-page-header;
    top: 50%;
    left: 1rem;
    position: absolute;
    color: $white;
    transform: translateY(-50%);

    @include tablet {
      @include desk-tab-page-header;
    }
  }
}

.about {
  @include flex(column, center, center);
  margin: $mobile-container;

  @include tablet {
    margin: 0 4rem;
  }

  &__content-container {
    width: 100%;
    @include tablet {
      width: 88%;
    }
  }
  &__title {
    align-self: flex-start;
    @include mobi-section-header;
    @include mobi-headline-margin;
  }

  @include tablet {
    @include desk-tab-section-header;
  }

  &__image {
    @include mobi-component-margin;
  }

  &__quote {
    font-size: 14.5px;
    font-weight: 700;
    margin-bottom: 1.25rem;

    @include tablet {
      @include desk-tab-sub-header;
    }

    &-text {
      margin-bottom: 0.5rem;
    }
  }

  &__headline {
    @include mobi-body-copy;
    font-weight: 700;
    margin-bottom: 0.5rem;

    @include tablet {
      @include desk-tab-sub-header;
    }
  }

  &__text-container {
    @include flex(column, center, center);

    @include tablet {
      @include flex(row, center, center);
      gap: 1.25rem;
    }
  }

  &__text-block {
    @include mobi-body-copy;
    @include mobi-component-margin;

    @include tablet {
      @include desk-tab-body-copy;
    }
  }
}

.gallery {
  @include flex(column, center, flex-start);
  margin: $mobile-container;
  background-color: $alabaster;

  &__title {
    @include mobi-section-header;
    @include mobi-headline-margin;
  }

  &__container {
    @include flex(column, center, center);
    width: 100%;

    @include tablet {
      @include flex(row, center, center);
      flex-wrap: wrap;
    }
  }

  &__image {
    width: 100%;
    @include mobi-component-margin;

    @include tablet {
      width: 30%;
    }
  }
}
