@use './partials/global' as *;
@use '../styles/partials/variables' as *;
@use '../styles/partials/mixins' as *;
@use '../styles/partials/typography-mixins' as *;

body {
  box-sizing: border-box;
}

.shows__title {
  @include mobi-headline-margin;
}

.hero {
  @include flex(column, center, center);
  width: 100%;
  height: 20rem;
  margin-bottom: 2rem;

  @include tablet {
    height: 28rem;
  }

  &__background-img {
    position: relative;
    width: 100%;
    height: 100%;
    background-image: url('../assets/images/hero-shows.jpg');
    background-size: cover;
    background-position: center;
    &-overlay {
      z-index: 10;
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: $bandsite-black;
      opacity: 50%;
    }
  }

  &__content {
    position: relative;
    color: $white;
    z-index: 20;
    margin: $mobile-container;

    @include tablet {
      margin: $tab-container;
    }
    @include desktop {
      margin: 0;
      padding: $desk-container;
      height: 100%;
      @include flex(row, space-between, center);
    }
  }

  &__subtitle {
    @include mobi-sub-header;
    @include mobi-headline-margin;

    @include tablet {
      @include desk-tab-sub-header;
    }
  }
  &__title {
    max-width: 70%;
    @include mobi-page-header;
    color: $white;
    @include mobi-headline-margin;

    @include tablet {
      max-width: 80%;
      @include desk-tab-page-header;
    }

    @include desktop {
      max-width: 100%;
      font-size: 2rem;
      line-height: 2.5rem;
      padding: 0;
    }
  }

  &__song {
    @include mobi-headline-margin;
    height: 7rem;
    width: 100%;

    @include tablet {
      height: 9rem;
      width: 55%;
    }

    @include desktop {
      justify-self: flex-end;
      height: 7rem;
      width: 20rem;
    }
  }
}

.shows {
  @include flex(column);
  @include desktop {
    margin: $desk-container;
    @include flex(row, space-between);
  }
  &__title {
    max-width: 100vw;
    overflow: hidden;
    @include mobi-section-header;
    margin: $mobile-container;
    margin-bottom: 1rem;
    align-self: flex-start;

    @include tablet {
      align-self: flex-start;
      margin: $tab-container;
    }

    @include desktop {
      align-self: flex-start;
    }
  }
}

.show-list {
  width: 100%;

  @include tablet {
    padding: 0 2rem 2rem 2rem;
  }

  @include desktop {
    width: 80%;
  }

  &__item {
    @include flex(column, flex-start, flex-start);
    width: 100%;
    border-bottom: 2px solid $mercury;
    margin-bottom: 1rem;

    @include tablet {
      @include flex(row, space-between, center);
      margin-bottom: 1rem;

      @include desktop {
        margin: 1rem 0;
      }
    }
    &-info-title {
      @include show-info-title;
      margin: $mobile-container;

      @include tablet {
        display: none;
      }
    }

    &-info {
      @include show-info;
      margin: $mobile-container;
      margin-bottom: 0.5rem;

      @include tablet {
        margin: 0;
      }
    }
    &-button {
      @include mobi-labels-bottons;
      @include mobi-cta-button;
      align-self: center;
      width: 17.875rem;
      margin-bottom: 1rem;

      @include tablet {
        width: 9.375rem;
      }
    }

    &-button:hover {
      background-color: $bandsite-dark-black;
    }
  }
}

// .desk-tab-title-list {
//   display: none;

//   @include tablet {
//     margin: $tab-container;
//     display: block;
//     @include flex(row, flex-start, center);
//   }

//   &__date {
//     @include tablet {
//       margin-right: 19.5vw;
//     }
//   }
//   &__venue {
//     @include tablet {
//       margin-right: 6.65rem;
//     }
//   }
// }

// show
// show__subtitle

//  addClass('show__info', showDate, showVenue, showLocation);
//     addClass('show__button',

// position: relative;
// @include flex(column, flex-start, center);
// background-image: url('../assets/images/hero-shows.jpg');
// background-color: $bandsite-black;
// background-position: center;
// background-size: cover;

// @include tablet {
//   height: 28rem;
// }

// @include desktop {
//   height: 32rem;
// }

// &__overlay {
//   width: 100%;
//   height: 100%;
//   background-color: $bandsite-black;
//   opacity: 50%;
// }

// &__title {
//   @include mobi-page-header;
//   top: 50%;
//   left: 1rem;
//   position: absolute;
//   color: $white;
//   transform: translateY(-50%);

//   @include tablet {
//     @include desk-tab-page-header;
//     left: 2.25rem;
//   }

//   @include desktop {
//     left: 5.4375rem;
//   }
// }
